<form [formGroup]="form" class="delivery">
    <h3>Delivery methods</h3>
    <div class="row">
        <div class="form-group col-6" *ngFor="let deliveryMethod of deliveryMethods$ | async as deliveryMethos">
            <input class="form-check-input" type="radio" name="deliveryMethodId" id="dm_{{ deliveryMethod.id }}"
                [value]="deliveryMethod.id" formControlName="deliveryMethodId" (change)="updateShipping(deliveryMethod)">
            <label class="form-check-label" for="dm_{{ deliveryMethod.id }}">
                <strong>{{ deliveryMethod.shortName }} - {{ deliveryMethod.price | currency}}</strong>
                <p>{{ deliveryMethod.description }}</p>
            </label>
        </div>
    </div>
</form>
<div class="move-back-next">
    <button type="button" cdkStepperPrevious class="btn btn-outline-success"><i class="fa fa-angle-left"></i> Back to Address</button>
    <button type="button" cdkStepperNext class="btn btn-success">Go to Review <i class="fa fa-angle-right"></i></button>
</div>