<form class="form-signin center" [formGroup]="form" (ngSubmit)="login()">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>

    <app-text-input formControlName="email" inputType="text" label="Email Address"></app-text-input>
    <app-text-input formControlName="password" [inputType]="'password'" [label]="'Password'"></app-text-input>
    <!-- <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" />
        <label for="inputPassword">Password</label>
        <span class="text-danger" *ngIf="password.invalid && password.touched && password.errors.required">password is required</span>
    </div> -->

    <div *ngIf="loginFailed" class="text-danger">{{ errorMessage }}</div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="form.invalid">
        Sign in
    </button>
</form>