<div class="container basket">
    <div *ngIf="(basket$ | async) === null">
        <p>There are no items in your basket!</p>
    </div>
    <div *ngIf="basket$ | async as basket">
        <div class="row">
            <app-basket-summery [items]="basket.items" [showButtons]="true"></app-basket-summery>
        </div>
        <div class="row">
            <div class="col-7"></div>
            <div class="col-5">
                <app-order-totals [totals]="totals$ | async" [showCheckOutButton]="true" [showMessage]="true"></app-order-totals>
            </div>
        </div>
    </div>
</div>