<form [formGroup]="form" class="shippingAddress">
    <div class="row">
        <div class="col-12 header">
            <h3>Shipping address</h3>
            <button class="btn btn-outline-success" [disabled]="form.invalid" (click)="updateUserAddress()">save as default addrerss</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-text-input formControlName="firstName" inputType="text" label="First Name"></app-text-input>
        </div>
        <div class="col-6">
            <app-text-input formControlName="lastName" inputType="text" label="Last Name"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-text-input formControlName="street" inputType="text" label="Street Name"></app-text-input>
        </div>
        <div class="col-6">
            <app-text-input formControlName="city" inputType="text" label="City Name"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-text-input formControlName="state" inputType="text" label="State Name"></app-text-input>
        </div>
        <div class="col-6">
            <app-text-input formControlName="zipcode" inputType="text" label="Zip Code"></app-text-input>
        </div>
    </div>
</form>
<div class="move-back-next">
    <button type="button" class="btn btn-outline-success" routerLink="/basket"><i class="fa fa-angle-left"></i> Back to Basket</button>
    <button type="button" cdkStepperNext class="btn btn-success">Go to Delivery <i class="fa fa-angle-right"></i></button>
</div>