<div class="nav-bar p-3 px-md-4 bg-white border-bottom shadow-sm">
    <!-- <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5> -->
    <img src="./assets/images/logo.png" alt="logo" routerLink="/" />
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase">
        <a class="p-2" routerLink="/" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">home</a>
        <a class="p-2" routerLink="/shop" routerLinkActive="active-link">shop</a>
        <a class="p-2" routerLink="/test-error" routerLinkActive="active-link">Errors</a>
    </nav>

    <a routerLink="/basket" class="cart">
        <i class="fa fa-shopping-cart fa-2x"></i>
        <div *ngIf="(cartSize$ | async) as cartSize">
            <p *ngIf="cartSize > 0">{{ cartSize }}</p>
        </div>
    </a>
    <div class="sign" *ngIf="(currentUser$ | async) === null">
        <a class="btn btn-outline-secondary" routerLink="/account/login">Login</a>
        <a class="btn btn-outline-secondary" routerLink="/account/register">Sign up</a>
    </div>
    <div *ngIf="currentUser$ | async as currentUser">
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                <strong>Welcome {{ currentUser.displayName }}</strong> <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" routerLink="/basket"><i class="fa fa-shopping-cart"></i>View Basket</a></li>
                <li role="menuitem"><a class="dropdown-item" routerLink="/orders"><i class="fa fa-history"></i>View Orders</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i>Sign out</a></li>
            </ul>
        </div>
    </div>
</div>